<h1 id="title">Reed's Blog</h1>

<% for post in @posts %>
  <% div_for(post) do %>
  <h3 class="post_title"><%= link_to post.title, post %></h3>
    <%= code_highlight_and_textile(post.body) %>
  <% end %>
<% end %>

