

<% for post in @posts %>
  <% div_for(post) do %>
<div class="post_title">
  <h3><%= link_to post.title, post %></h3>
</div>
<div class="post_body">
    <%= code_highlight_and_textile(post.body) %>
</div>
<div class="post_footer">
  <% comments = post.comments.count %>
  <% label = comments == 1 ? " comment" : " comments" %>
  <%= link_to (comments.to_s + label), post %>
</div>
  <% end %>
<% end %>

