<h1 id="title">Reed's Blog</h1>

<% for post in @posts %>
  <% div_for(post) do %>
  <h3 class="post_title"><%= post.title %></h3>
    <p><%= textilize(post.body) %></p>
    <%= link_to 'Show', post %>
  <% end %>
<% end %>
